<div id="<%= dom_id scan_record %>">
  <p>
    <strong>Qr code:</strong>
    <%= scan_record.qr_code %>
  </p>

  <p>
    <strong>Consignee:</strong>
    <%= scan_record.consignee %>
  </p>

  <p>
    <strong>Apzgr number:</strong>
    <%= scan_record.apzgr_number %>
  </p>

  <p>
    <strong>Box number:</strong>
    <%= scan_record.box_number %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= scan_record.article %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= scan_record.size %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= scan_record.quantity %>
  </p>

</div>
